* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #34495e;
}
/* .all_body{
    border-right:solid red 3px;
  

} */
.right_bar {
  width: 300px;
  height: 1000px;
  background-color: #2ecc71;
  float: left;
  border-right:solid white  3px;
    border-radius: 50px;
    /* border-top-right-radius: 0px;*/
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
    position: fixed;

}

.right_bar button {
  background-color: #2ecc71;
  border: 0px;
  width: 300px;
}
.right_bar a button:hover {
  background-color: #d5f5e3;
}

.right_bar img {
  margin-left: 80px;
  margin-top: 40px;
  width: 100px;
}
.btn-bar1 button {
  height: 50px;
  border-right:solid white  3px;
  margin-top: 50px;
  font-size: 15px;
  width: 200px;
}
.btn-bar1 a {
  font-size: 15px;
  width: 200px;
  margin-top: 10px;
}
.btn-bar1 i {
  margin-right: 10px;
  font-size: 15px;
}
.btn-bar1 {
  margin-top: 40px;
}
.btn-bar1 button {
  font-size: 15px;
  width: 200px;
  margin-top: 10px;
}
.btn-bar1 a button {
  width: 300px;
}
.btn-bar1 a button{
  /* font-family: khmer; */
  font-size: 18px;
}

/* .dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  width: 250px;
  margin-left: 30px;
  transform: translateY(-2px);
  transition: opacity 0.5s, transform 0.5s;
  
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  width: 250px;
  background-color: #00a4bd;

} */
.btn-bar1 a #bz{
    padding-right: 90px;
}
.btn-bar1 a #b1 {
  padding-right: 60px;
}
.btn-bar1 a #b2 {
  padding-right: 25px;
}
.btn-bar1 a #b3 {
  padding-right: 70px;
}
.btn-bar1 a #b4 {
  padding-right: 40px;
}
.btn-bar1 a #b5 {
  padding-right: 70px;
}
.btn-bar2 {
  position: absolute;
}