body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url(../image/agriculture-3732476_1280.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeded;
    z-index: 0;
}
.bg_color{
    width: 100%;
    height: 100vh;
}
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.divider:after,
.divider:before {   
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.btn{
    background-color: #58d68d;
    border: 0px;
}
.small{
    color:  #f7f9f9 ;
}
.container{
    width: 90%;
}

