* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    background: #dfe9f5;
}

.container {
    display: flex;
}

nav {
    margin-left: -2rem;
    position: fixed;
    float: left;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #82E0AA;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav .fas {
    
    color: black;
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
}
a:hover {
    background: #eee;
}

.logout {
    position: absolute;
    bottom: 0;
}

nav ul li {
    display: block;
}